* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    background-color: #f8f9fa!important;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    

}
.container {
    max-width: 960px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}
.py-5 {
    padding-top: 48px;
    padding-bottom: 48px;
}
.mx-auto{
    margin-right: auto;
    margin-left: auto;
}
.d-block {
    display: block;
}
img {
    vertical-align: middle;
    border-style: none;
}
h2{
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 500;
    line-height: 1.2;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left:-15px;
}
.mb-4{
    margin-bottom: 1.5rem;
}
@media (min-width: 768px){
.order-md-2 {
    order: 2;
}
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-md-4{
position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.mb-3{
    margin-bottom: 1rem;
}
.align-items-center {
    
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.d-flex {
    display: -ms-flexbox;
    display: flex;
}
 h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
///////*
@media (min-width: 700px){
.order-md-last {
    order: 6;
}
@media (min-width: 992px){
.om {
    flex: 0 0 auto;
    width: 317.328px;
}
.mb-5 {
    margin-bottom: 1rem;
}
.center {
    align-items: center;
}
.justify-content-between  {
    justify-content: space-between;
}
.d-flex {
    display: flex;
}
@media (min-width: 1200px){
 h4 {
    font-size: 1.5rem;
}
h4{
    margin-top: 0;
   
    font-weight: 500;
    line-height: 1.2;
}
.text-muted {
    color: #6c757d;
}
@media (min-width: 1200px){
 h4 {
    font-size: 1.5rem;
}
h4{
    font-weight: 500;
    line-height: 1.2;
}
.pill{
    border-radius: 50rem;
}
.badge-light {
    background-color: #6c757d;
}
.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
   
    border-radius: .25rem;
}
.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.sm {
    line-height: 1.25;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
 h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

 small {
    font-size: .875em;

}
.list-group-item+.list-group-item {
    border-top-width: 0;
}
.sm {
    line-height: 1.25;
}
.text-success{
    color: #198754;
}
strong {
    font-weight: bolder;
}
@media (min-width: 768px){
.order-md-last {
    order: 6;
}
@media (min-width: 992px){
.col-md-4 {
    flex: 0 0 auto;
    width:317.328px;
}
 ul {
    margin-top: 0;
 }
.content {
    max-width: 930px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 200;
    line-height: 1.2;
}
p{
    text-align: center;
   
    font-size: 1.25rem;
    font-weight: 300;
}
.class{
    display: flex;
    justify-content: right;
    

    flex-wrap:wrap ;
    margin-left: -8px;
    margin-top: -16px;
    
}
.flex1 {
   max-width: 100%;
    padding-left:8px ;
    padding-right: 8px;
}
h4{
    margin-bottom: 16px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
span{
    display: flex;
    justify-content: space-between;
    position: relative;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    color: gray;
}
ul{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    margin-top: 0; 
}
li{
    display: flex;
    position: relative;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.div2{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    margin-top: 0;    
}
.just{
    justify-content: space-between;
    display: flex;
    position: relative;
    line-height: 1.25;
}
.po {
    padding: .5rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input>.form, .input>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

 input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group .btn {
    position: relative;
    z-index: 2;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



button{
    text-transform: none;
}

button{
    margin: 0;
    font-family: inherit;
}
.text-muted {
    color: #6c757d;
}

.text-center {
    text-align: center;
}

.pt-5 {
    padding-top: 3rem;
}
/*
@media (min-width: 576px)
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}
*/

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mb-3 {
    margin-bottom: 1rem;
}

 .h4 {

    font-weight: 500;
    line-height: 1.2;
}
/*
.label-form {
    margin-bottom: .5rem;
}
label-form  {
    display: inline-block;
}
*/
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input {
    margin: 0;
    font-family: inherit;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

 .col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 input{
    margin: 0;
    font-family: inherit;
 }
 @media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}


hr:not([size]) {
    height: 1px;
}
.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.w-100 {
    width: 100%;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
button, select {
    text-transform: none;
}
buttom {
    margin: 0;
    font-family: inherit;
}
@media (min-width: 992px){
.col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}
@media (min-width: 768px){
.col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}
.g-3 {
    --bs-gutter-y: 1rem;
}
.g-3 {
    --bs-gutter-x: 1rem;
}


.pt-5 {
    padding-top: 3rem;
}
.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mb-1 {
    margin-bottom: .25rem;
}
p {
    margin-top: 0;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}
.list-inline-item {
    display: inline-block;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}
.list-inline-item {
    display: inline-block;
}