*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;
    max-width: 936px;
}
div{
    display: block;
    padding-top: 48px;
    padding-bottom: 48px;
}
img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
h2{
    font-size: 32px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    font-family:font-family-base;
    font-weight: 200;
    line-height: 1.2;
}